---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
        -cert-dcl58-cpp,
        -clang-diagnostic-error,
        -clang-diagnostic-error,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -hicpp-uppercase-literal-suffix,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -modernize-concat-nested-namespaces,
        -modernize-pass-by-value,
        -modernize-use-nodiscard,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-identifier-length,
        -readability-inconsistent-declaration-parameter-name,
        -readability-magic-numbers,
        -readability-redundant-member-init,
        -readability-static-accessed-through-instance,
        -readability-uppercase-literal-suffix,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
