[submodule "support"]
	path = support
	url = ../support.git
[submodule "yen"]
	path = yen
	url = ../yen.git
[submodule "hungarian-algorithm-cpp"]
	path = hungarian-algorithm-cpp
	url = ../hungarian-algorithm-cpp.git
